article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

// .container {
//   margin: 0 auto;
// }

html {
  background: #313131;
  overflow-x: hidden;
}

.untouch {
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}