$Halvar-Breit: 'Halvar Breit', sans-serif;
$Golos-Text: 'Golos Text', sans-serif;

$Blowbrush: 'Blowbrush', sans-serif;
$Cwisdom: 'Cwisdom', sans-serif;
$HoaxVandal: 'HoaxVandal', sans-serif;
$PermanentMarker: 'PermanentMarker', sans-serif;

$AngryFont: 'AngryFont', sans-serif;
$CraftyForYou: 'CraftyForYou', sans-serif;
$HiveheadHandwriting: 'HiveheadHandwriting', sans-serif;
$ORAFranchini: 'ORAFranchini', sans-serif;
$SAIBA45: 'SAIBA45', sans-serif;
$SantaChild: 'SantaChild', sans-serif;
$MixBit: 'MixBit', sans-serif;

